<div>
	<h2>Nos Services</h2>
	<ul>
	  <li>Diffusion en continu de films et séries</li>
	  <li>Accès à une vaste bibliothèque de contenu</li>
	  <li>Personnalisation des recommandations en fonction de vos préférences</li>
	  <li>Options de streaming haute qualité</li>
	</ul>
	
	<h2>Nos Avantages</h2>
	<ol>
	  <li>Large sélection de titres populaires</li>
	  <li>Navigation conviviale et intuitive</li>
	  <li>Compatibilité multi-appareils</li>
	  <li>Essai gratuit pour découvrir notre service</li>
	</ol>
  </div>
  

<p class="copyright">Copyright <%=copyright%></p>